rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // FCM Tokens
    match /fcmTokens/{document} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;
    }

    // Posts
    match /posts/{document} {
      allow read: if true;
      allow write: if true;
    }

    // Categories
    match /categories/{document} {
      allow read: if true;
      allow write: if true;
    }

    // Settings
    match /settings/{document} {
      allow read: if true;
      allow write: if true;
    }

    // Users
    match /users/{document} {
      allow read, write: if false;
    }
  }
}
